.well-image{
	width: 100%;
	height: 162px;
}

.answer{
	padding: 15px 20px;
	border-radius: 10px;
	border:1px solid;
}
.answer:hover{
	cursor: pointer;;
}

.img-answered{
	cursor: pointer;
	height: 350px;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 20px;

}

.img-answered img{
	width: 100%;
	height: auto;
}