.well-image{
	width: 100%;
	height: 162px;
}

.answer{
	padding: 15px 20px;
	border-radius: 10px;
	border:1px solid;
}
.answer:hover{
	cursor: pointer;;
}

.img-answered{
	cursor: pointer;
	height: 200px;
	width: 50%;
	border-radius: 30px;
	margin-bottom: 20px;

}

.img-answered img{
	width: 100%;
	height: auto;
	border-radius: 30px;
}

.image-selected{
	border: 3px solid #56afdc;	
}