<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Quiz Facts</h1>
		</div>
		<div ng-controller="listCtrl" ng-hide="quizMetrix.quizActive">
			<form class="form-inline well well-small clearfix">
				<span class="glyphicon glyphicon-search	">
					<input type="text" name="" placeholder="Search..." class="form-control" ng-model="search">

				</span>
				<button class="btn btn-warning pull-right" ng-click="activateQuiz()">Start Quiz</button>
			</form>
			<div class="row">
				<div class="col-sm-6"  ng-repeat="data in turtlesData | filter:search">
					<div class="well well-sm">
						<div class="row">
							<div class="col-md-6">
								<img ng-src="{{data.image_url}}" class="well-image img-rounded img-responsive">
							</div>
							<div class="col-md-6">
								<h4>{{data.type}}</h4>
								<p><strong>Locations</strong>:{{data.locations}}</p>
								<p><strong>Size</strong>:{{data.size}}</p>
								<p><strong>Average Life Span</strong>:{{data.lifespan}} </p>

								<p><strong>Diet:</strong>{{data.diet}} </p>
								<button  ng-click="changeActiveTurtle(data)" class="btn btn-primary pull-right" data-toggle="modal" data-target="#turtle-info">Learn more</button>
							</div>
						</div>
					</div>

				</div>		
			</div>	
			<div class="modal" id="turtle-info">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h2>{{activeTurtle.type}}</h2>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-8 col-xs-offset-2">
									<img ng-src="{{activeTurtle.image_url}}" class="img-rounded img-responsive">
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-md-6">
									<p><strong>Locations</strong>:{{activeTurtle.locations}}</p>
									<p><strong>Size</strong>:{{activeTurtle.size}}</p>
									<p><strong>Average Life Span</strong>:{{activeTurtle.lifespan}} </p>
									<p><strong>Diet:</strong>{{activeTurtle.diet}} </p>
								</div>
								<div class="col-xs-12 top-buffer">
									<p>{{activeTurtle.description}}</p>
									<button class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div ng-controller="quizCtlr" ng-show="quizMetrix.quizActive" >
			<h1>Quiz</h1>
			<div class="row">
				<div class="col-xs-8">
					<h4>Progress</h4>
					<div class="btn-toolbar">
						<button class="btn" ng-repeat="question in quizQuestions" ng-class="{'btn-info':question.selected !== null, 'btn-danger':question.selected === null}">
							<span class="glyphicon" ng-class="{'glyphicon-pencil':question.selected !== null, 'glyphicon-question-sign':question.selected === null}"></span>
						</button>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="row">
						<h4>Legend</h4>
						<div class="col-sm-4">
							<button class="btn btn-info">
								<span class="glyphicon-pencil"></span>

							</button>
							<p>Answered</p>
						</div>
						<div class="col-sm-4">
							<button class="btn btn-danger">
								<span class="glyphicon glyphicon-question-sign"></span>

							</button>
							<p>Un Answered</p>
						</div>  
					</div>
				</div>
				<div class="row">
					<h3>Questions</h3>
					<div class="well well-sm">
						<div class="row">
							<div class="col-xs-12">
								<h4>{{activeQuestion + 1 + "." + quizQuestions[activeQuestion].text}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6" ng-repeat="answer in quizQuestions[activeQuestion].possibilities">
								<h4 class="answer">{{answer.answer}}</h4>
							</div>
						</div>	
					</div>
					<button class="btn btn-warning" ng-click="questionAnswered()">Continue</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="https://code.angularjs.org/1.5.9/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/list.js"></script>	
<script type="text/javascript" src="js/quiz.js"></script>
<script type="text/javascript" src="js/factories/quizMetrix.js"></script>	
<script type="text/javascript" src="js/factories/dataService.js"></script>
</html>